<!DOCTYPE HTML>
<html ng-app="hutu">

<head>

	<meta charset="utf-8">
	<title>hutu</title>
	<meta name="description" content="api test">
	<meta name="author" content="XIONG">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- 新 Bootstrap 核心 CSS 文件 -->
	<link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">

	<!-- 可选的Bootstrap主题文件（一般不用引入） -->
	<link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

	<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
	<script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>

	<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
	<script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>

  <script src="/static/js/controller.js"></script>

	<style type="text/css">
	body { padding-top: 100px; }
  hr {
    height: 0px;
    border: none;
    border-top: 2px dotted #185598;
  }
	</style>

</head>

<body>
<div>
	<nav class="navbar navbar-default navbar-fixed-top">
      <!-- We use the fluid option here to avoid overriding the fixed width of a normal container within the narrow content columns. -->
      <div class="container">
        <div class="navbar-header">
          
          <a class="navbar-brand" href="#">hu tu</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-6">
          <ul class="nav navbar-nav">
            <li ><a href="api_list.html">apilist</a></li>
            <li><a href="#">类别</a></li>
            <li class="active"><a href="#">添加</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div>
    </nav>
</div>


<div class="container">
<form class="form-horizontal" action='http://127.0.0.1:56789/api/customer/customer_info/' method='get'>
  <div class="form-group">
    <label for="token_id" class="col-sm-2 control-label">Host</label>
    <div class="col-sm-6">
      <select class="form-control">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option ng-selected="true">4</option>
        <option>5</option>
      </select>

    </div>
  </div>
   <div class="form-group">
    <label for="token_id" class="col-sm-2 control-label"></label>
    <div class="col-sm-6">
      <div class="panel panel-default well">
        <div class="panel-body">
          Basic panel example
        </div>
      </div>
    </div>
  </div>
  <div class="form-group">
    <hr class="col-sm-7 col-md-offset-1"></hr>
  </div>
  <div class="form-group">
    <label for="token_id" class="col-sm-2 control-label">Filed</label>
    <div class="col-sm-2">
      <input type="text" class="form-control" id="token_id" name="token_id">
    </div>
    <label for="token_id" class="col-sm-1 control-label">描述</label>
    <div class="col-sm-3">
      <input type="text" class="form-control" id="token_id" name="token_id">
    </div>
  </div>


  <div class="form-group">
    <div class="col-sm-offset-7 col-sm-5">
      <button type="sumbit" class="btn btn-primary "> 提  交 </button>
    </div>
  </div>
</form>
</div>
</body>
<script type="text/javascript">

</script>