<!DOCTYPE HTML>
<html lang="en">

<head>

	<meta charset="utf-8">
	<title>hutu</title>
	<meta name="description" content="api test">
	<meta name="author" content="XIONG">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- 新 Bootstrap 核心 CSS 文件 -->
	<link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">

	<!-- 可选的Bootstrap主题文件（一般不用引入） -->
	<link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

	<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
	<script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>

	<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
	<script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

	<style type="text/css">
	body { padding-top: 70px; }
	</style>

</head>

<body>
<div>
	<nav class="navbar navbar-default navbar-fixed-top">
      <!-- We use the fluid option here to avoid overriding the fixed width of a normal container within the narrow content columns. -->
      <div class="container">
        <div class="navbar-header">
          
          <a class="navbar-brand" href="#">hu tu</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-6">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">apilist</a></li>
            <li><a href="#">类别</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div>
    </nav>
</div>


<div class="container">
<form class="form-horizontal">
  <div class="form-group">
    <label for="inputEmail3" class="col-sm-2 control-label">Email</label>
    <div class="col-sm-6">
      <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
    </div>
    <label for="inputEmail3" class="col-sm-2 control-label">sdfsdfsdfsdfsdfdsfdsfdsfsdfsdfsdfsdfsdfsfsdfdsfdsf</label>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-7 col-sm-5">
      <button  class="btn btn-primary "> 提  交 </button>
    </div>
  </div>
</form>
</div>
</body>